@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kruti's practical</h1>
    <p>
        <a href="#">App publish using continues integration and Deployment (Basic) </a>.
        <ol>
            <li>
                Send PR to Master branch to reflect changes on website.
            </li>
        </ol>
    </p>
</div>
